
<div class="about-flex">
   <p class="about-left">
     1-Please sign up with the app to have access to all the nice features!
   </p>
   <div class="signUp-img about-right">
   </div>
</div>

<div class="about-flex">
  <div class="upload-img about-right">
  </div>
  <p class="about-left">
   2-Upload a painting to have someone else review it for you
  </p>
</div>

<div class="about-flex">
 <p class="about-left">
   3-Please review a paint to let other artistes know how you feel about thier work.
 </p>
 <div class="review-img about-right">
 </div>
</div>
