/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body{
   background:#D8DBC9;
   margin:0 auto;
   padding:0;
   position:relative;
 }

 .form {
    width: auto;
    margin: 5% 15%;
    padding: 2% 5%;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(223, 241, 253, 0.6);
    font-size: 12px;
  }
  #paint_title{
    font-size: 22px;
  }
  #paint_description{
    font-size: 22px;
  }
  #paint_category{
    font-size: 22px;
  }

 .fas{
   font-size: 30rem;
 }

 label{
   font-size: 1.5rem;
   color: black;
 }

 input {
 font-size: 28px;
 border-radius: 10px;
 }

 #error_explanation ul li{
 list-style-type: none;
 color: red;
 }

.top-bar{
  background-color: #879dad;
  font-family: Arial,Sans-Serif;
  color: white;
}

ul{
  list-style: none;
  margin: 0;
  opacity: 0.7;
  padding: 0;
}

ul li{
  float: left;
  width: 200px;
  height: 12%;
  background: grey;
  margin-left: 2px;
}

ul li a{
  text-decoration: none;
  display: block;
}

ul li a:hover{
  background: green;
}

ul li ul li{
  display: none;
}

ul li:hover ul li{
  display: block;
}

.container{
  margin: 15% auto;
  width: 1500px;
  height: 50%;
  position: relative;
}

#content{
  position: relative;
  background-color: #7B9172;
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  font-family: Sans-Serif,Arial;
  font-size: 26px;
  font-weight: bold;
  box-shadow: 20px -12px 20px 2px #8B9C63;
  border: 1px solid #c4c6ca;
}
#content:before,
#content:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 0 #8B9C63 inset;
  border: 1px solid #c4c6ca;
  background-color: #7B9172;
  top: 0;
  left: 0;
}
#content:before{
  transform: rotate(2deg);
  z-index:-1;
}
#content:after{
  transform: rotate(-3deg);
  z-index:-2;
}

/* img{
  width: 20%;
  display: block;
  float: left;
  padding-left: 1%;
  padding-top: 2%;
} */
.rb{
  margin-top: 5px;
  left: 27%;
  font-size: 30px;
  font-weight: bold;
}

button{
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
}

button a{
  color: black;
}
#first-video-box{
  background-image: url("painting-cloud.jpg");
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  height: 400px;
  margin-bottom: 3%;
}
#second-video-box{
  width: 35%;
  height: 45%;
  background-color: rgba(224, 229, 201, 0.4);
  border-radius: 20%;
  text-align: center;
  padding-top: 3%;
  margin: 0 2% 10% 10%;
  display: inline-block;
}
#header-bckg{
  background-image: url("wood-paint.jpg");
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  height: 400px;
  margin-bottom: 3%;
}

#paint-box{
  width: 35%;
  height: 40%;
  padding-top: 3%;
  margin-left: 2%;
  display: inline-block;
}
#photo-box{
  text-align: center;
  width: 40%;
  height: auto;
  display: inline-block;
  float: left;
  margin-left: 5%;
}

.review-form{
  width: 80%;
  margin: 0 8%;
}
.button{
  // left: 25%;
}
.review-photo{
  width: 50%;
  height: 40%;
  margin-left: 25%;
}
h2{
  text-align: center;
}

.submitted-reviews{
  text-align: center;
}
.description{
  text-align: center;
  width: 50%;
  height: 20%;
  background: #5f6350;
  margin-left: 25%;
  color: #fff;
}
