/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .form {
    width: auto;
    margin: 5% 15%;
    padding: 2% 5%;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(223, 241, 253, 0.6);
    font-size: 12px;
  }
 .fas{
   font-size: 30rem;
 }
 label{
   font-size: 1.5rem;
   color: black;
 }

 input {
 font-size: 28px;
 border-radius: 10px;
 }

 #error_explanation ul li{
 list-style-type: none;
 color: red;
 }
 body{
   background:#D8DBC9;
   margin:0 auto;
   padding:0;
   position:relative;
 }
