#header-bckg{
  background-image: url("../images/jerry");
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  height: 535px;
  margin-bottom: 0;
}

 #text-photo{
  text-align: center;
  font-size: 50px;
}
